<% items.each do |item| %>
  <div class="row">
    <%= link_to item_path(item) do %>
      <%= image_tag item.get_image(200, 120) %>
      <%= item.name %>
    <% end %>
    ￥<%= item.with_tax_price.to_s(:delimited) %>
    <% if item.is_sell == false %>
      売り切れ
    <% end %>
  </div>
<% end %>